.contact-container {
  width: 58%;
  display: grid;
  grid-template-columns: 45% 48%;
  gap: 7%;
}

.contact-options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-option {
  background-color: var(--color-back-ground-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact-option:hover {
  background-color: transparent;
  border-color: var(--color-secondry);
}

.icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact-option a {
  margin-top: 0.7rem;
  font-size: 0.8rem;
  color: white;
  transition: var(--transition);
}

.contact-option:hover a {
  color: var(--color-secondry);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

form input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: transparent;
  border: 2px solid var(--color-secondry);
  resize: none;
  color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .contact-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .contact-container {
    width: var(--container-width-sm);
  }
}
